@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* 
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px; }

#page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#af67e9, #6565e7);
  height: 100vh;
  width: 100vw; }

/*Overlapping images using grid from https://bricampgomez.com/blog/how-to-overlap-images-in-css/*/
#img-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  height: 100%;
  width: 50%; }
  #img-wrapper div {
    grid-row: 1; }
  #img-wrapper div:nth-child(1) {
    grid-column: 1/-1; }
  #img-wrapper div:nth-child(2) {
    grid-column: 1/12; }
  #img-wrapper div:nth-child(3) {
    grid-column: 1/span 5;
    text-indent: -45%;
    padding-top: 50%; }
  #img-wrapper img {
    width: 100%;
    height: 100%; }

#content-wrapper {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 25px;
  display: flex;
  height: 70%;
  width: 60%; }

#faq {
  padding: 10em 5em; }
  #faq input[type='checkbox'] {
    display: none; }
  #faq .wrap-accordion {
    border-bottom: 1px solid #e7e7e9; }
  #faq .lbl-toggle {
    display: block;
    color: #4a4b5e;
    cursor: pointer;
    padding: 1rem 0;
    transition: all 0.25s ease-out; }
    #faq .lbl-toggle:hover {
      color: #f47c57;
      font-weight: 700; }
    #faq .lbl-toggle::after {
      content: url(/home/barbara/dev/faq-accordion-cards/faq-accordion-card/faq-accordion-card-main/images/icon-arrow-down.svg);
      display: inline-block;
      vertical-align: middle;
      padding: 0 0.5rem;
      transition: transform .2s ease-out; }
  #faq .toggle:checked + .lbl-toggle::after {
    transform: rotate(-180deg) translateY(3px); }
  #faq .accordion-content {
    color: #787887;
    max-height: 0px;
    overflow: hidden;
    transition: all .25s ease-in-out; }
  #faq .toggle:checked + .lbl-toggle + .accordion-content {
    padding-bottom: 1rem;
    max-height: max-content; }
  #faq .toggle:checked + .lbl-toggle {
    font-weight: 700; }
  #faq h1 {
    color: #4a4b5e;
    font-size: 2.5em;
    font-weight: 700;
    padding: 1em 0; }

.question {
  border-bottom: 2px solid #e7e7e9;
  padding: 1em 0; }
