@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//colors
$primary-color: hsl(238, 29%, 16%);
$secondary-color: hsl(14, 88%, 65%);

//background
$background-violet: hsl(273, 75%, 66%);
$background-blue:  hsl(240, 73%, 65%);

//text
$text-neutral-very-dark: hsl(237, 12%, 33%);
$text-neutral-dark: hsl(240, 6%, 50%);

$dividers: hsl(240, 5%, 91%);

$body-font-size: 12px;

$font-stack: 'Kumbh Sans', sans-serif;

/* 
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body {
    font-family: $font-stack;
    font-size: $body-font-size;
}

#page-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient($background-violet, $background-blue);
    height: 100vh;
    width: 100vw;    
}

/*Overlapping images using grid from https://bricampgomez.com/blog/how-to-overlap-images-in-css/*/

#img-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    height: 100%;
    width: 50%;

    div {
        grid-row: 1;
    }

    div:nth-child(1) {
        grid-column: 1/-1;
    }

    div:nth-child(2) {
        grid-column: 1/12;
    }   

    div:nth-child(3) {
        grid-column: 1/span 5;
        text-indent: -45%;
        padding-top: 50%;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
}

#content-wrapper {
    align-items: center;
    background-color: whitesmoke;
    border-radius: 25px;
    display: flex;
    height: 35rem;
    width: 70rem;    
}

#faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5rem;
    height: 100%;
    width: 40%;

    input[type='checkbox'] {
        display: none;
    }

    .wrap-accordion {
        border-bottom: 1px solid $dividers;
    }

    .lbl-toggle {
        display: block;
        color: $text-neutral-very-dark;
        cursor: pointer;
        padding: 1rem 0;
        position: relative;
        transition: all 0.25s ease-out;      

        &:hover {
            color: $secondary-color;
            font-weight: 700;
        }

        //add arrow as a pesudo-element
        &::after {
            content: url(/home/barbara/dev/faq-accordion-cards/faq-accordion-card/faq-accordion-card-main/images/icon-arrow-down.svg);
            display: inline-block;
            vertical-align: middle;
            padding: 0 0.5rem;
            position: absolute;
            right: 0;
            transition: transform .2s ease-out;
        }
    }

    //toggle arrow direction
    .toggle:checked + .lbl-toggle::after {
        transform: rotate(-180deg) translateY(3px);
    }

    //hide answers
    .accordion-content {
        color: $text-neutral-dark;        
        max-height: 0px;
        overflow: hidden;
        transition: all .25s ease-in-out;
    }


    //show answers
    .toggle:checked + .lbl-toggle + .accordion-content {
        padding-bottom: 1rem;
        max-height: 3rem;
    }

    .toggle:checked + .lbl-toggle {
        font-weight: 700;
    }


    h1 {
        color: $text-neutral-very-dark;
        font-size: 2rem;
        font-weight: 700;
    }

}

@media screen and (max-width: 375px) {
    #content-wrapper {
        align-items: center;
        background-color: whitesmoke;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 90vw;    
    }
}

